tqdm
ipykernel
atlasify
trackml@ https://github.com/LAL/trackml-library/tarball/master#egg=trackml-3
networkx
seaborn
pyyaml
click
lightning==2.4.0
pytest
pytest-cov
torch-geometric
uproot<=5.3.1
class-resolver
--extra-index-url https://pypi.nvidia.com
cudf-cu12 
cugraph-cu12
onnxruntime
onnx
MonkeyType
wandb
scikit-learn
numba