tqdm
ipykernel
atlasify
trackml@ https://github.com/LAL/trackml-library/tarball/master#egg=trackml-3
networkx
seaborn
pyyaml
click
lightning==2.1.2
pytest
pytest-cov
torch-geometric==2.5.3
-f https://data.pyg.org/whl/torch-2.3.0+cu121.html
torch-scatter
torch-cluster
torch-sparse
uproot
class-resolver
--extra-index-url https://pypi.nvidia.com
cudf-cu12 
cugraph-cu12
cuml-cu12
xrootd
